*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background: #78c1f3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: #fff;
    padding: 2rem;
    width: 500px;
    border-radius: 10px;
    margin-top: 30px;
}

.todo-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.todo-header img{
    cursor: pointer;
    height: 90px;
    width: 90px;
    padding-left: 12px;
    padding-bottom: 8px;
}

.todo-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    margin-bottom: 20px;
}

.todo-body input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 10px;
    font-size: 20px;
    
}

.todo-body img{
    cursor: pointer;
    height: 55px;
    width: 55px;
    padding: 15px;
    background: limegreen;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    margin-bottom: 10px;
    border-radius: 5px;
}

ul img{
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding: 3px;
    margin: 2px;
}